    {{>nav}}
    <section class="container">
        <div class="">
            <form method="post" action="">
              <input name="productName" class="form-control my-2  " placeholder="ProductName" type="text">
            <input name="aboutProduct" class="form-control my-2 " placeholder="AboutProduct" type="text">
            <input name="productPrice" class="form-control my-2 " placeholder="ProductPrice" type="text">
            <input name="productPriceAfterDiscount" class="form-control my-2 " placeholder="ProductPrice(AfterDiscount)" type="text">
            <select  class="form-control" name="status" id="">
                <option selected disabled value="">Status</option>
                <option value="Active">Active</option>
                <option value="NotActive">NotActive</option>
            </select>
            <input class="my-3 btn btn-danger" type="submit" value="ADD">
            </form>
        </div>
        <div class="mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ProductName
                        </th>
                        <th>
                            BarCode
                        </th>
                        <th>
                            AboutProduct
                        </th>
                        <th>
                            ProductPrice
                        </th>
                        <th>
                            ProductPrice(AfterDiscount)
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each allProducts}}
                        <tr>
                            <td>
                                {{productName}}
                            </td>
                            <td>
                                {{barcode}}
                            </td>
                            <td>
                                {{aboutProduct}}
                            </td>
                            <td>
                                {{productPrice}}
                            </td>
                            <td>
                                {{productPriceAfterDiscount}}
                            </td>
                            <td>
                                {{status}}
                                <a href="/changeStatus/{{_id}}">Change</a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
    {{>footer}}
